{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block title %} Add Orders {% endblock %}

{% block body %}
<script type="text/javascript">
function toInt(n){ return Math.round(Number(n)); };
function GetSelectedItem(el)
{
    var e = document.getElementById(el);

    var strSel = e.options[e.selectedIndex].value ;
    return strSel;
}

function generateAmount() {


    var TotalCost={{ form2.totalDC }};
    var TotalvCPU ={{ form2.totalvCPU }};
    var TotalRAM = {{ form2.totalRAM }};
    var TotalStorageCost ={{ form2.totalStorageCost }};
    var TotalCapacity ={{ form2.totalStorage }};

    //Quota Cost
    var ratio = (TotalvCPU/TotalRAM);
    var TotalCostRAM =(TotalCost/(1+ratio));
    var OneGBRAM= (TotalCostRAM/TotalRAM);
    var OnevCPU = ((ratio* TotalCostRAM)/TotalvCPU);
    var storageCost =(TotalStorageCost/TotalCapacity);
    var QuotaCost = OneGBRAM * document.getElementById("id_RAM").value + OnevCPU*document.getElementById("id_vCPU").value + storageCost * document.getElementById("id_storage").value;
    //Network Cost
    var TotalNetworkCost = {{ form2.totalNetwork }};
    var PerAppUtilization = document.getElementById("id_RAM").value * document.getElementById("id_vCPU").value;
    var PerAppUtilRatio = PerAppUtilization/(TotalvCPU*TotalRAM);
    var PerAppNetworkCost =  PerAppUtilRatio * TotalNetworkCost ;


    //Operational Cost
    var opCost = {{ form2.LMF }}


    //os

    os=GetSelectedItem("id_os");

    if(os === "Windows") {
        var windowsCost={{ form2.microsoft }};
    }
    else if(os ==="RHEL"){
        var rhelcost={{ form2.redhat }};
    }
    else if(os ==="Suse")
    {
        var suseCost={{ form2.suse }}
    }
    else {
    var other=0
    }

    //dr

    dr=GetSelectedItem("id_dr");
    if(dr ==="Yes") {
        var a=1;
    }
    else {
        var b=2;
    }

    //db
    db=GetSelectedItem("id_db");
    if(os ==="Oracle") {
        var oracleCost={{ form2.oracle}};
    }
    else if(os ==="SQL"){
        var sqlcost={{ form2.sql }};
    }

    //Total Cost
    totalamount = QuotaCost + PerAppNetworkCost + opCost;

    document.getElementById("id_amount").value =toInt(totalamount);

}

</script>

                <section>
					<div class="section-body">
						<div class="row">

							<!-- BEGIN  - FORM -->
							<div class="col-lg-12">
								<div class="card">
									<div class="card-head style-primary">
										<header>Add Order</header>
										<div class="tools">
											<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
											<a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
										</div>
									</div>
                                <label id="demo"></label>
									<div class="card-body">

										<form class="form" role="form" action="" method="post" id="f1" name="f1"> {% csrf_token %}

											<div class="row">
												<div class="col-sm-6">
													<header>Department Info</header>
													<div class="form-group floating-label">
														{{ form.dept_name | add_class:'form-control' }}
														<label for="regular2">Department Name</label>
													</div>
													<div class="form-group floating-label">
														{{ form.app_name | add_class:'form-control' }}
														<label for="regular2"> Application Name</label>
													</div>
													<div class="form-group floating-label">
														{{ form.function | add_class:'form-control' }}
														<label for="regular2">Function </label>
													</div>
												</div>
												<div class="col-sm-6">
													<header >Order Info</header>
													<div class="form-group">
														{{ form.vCPU | add_class:'form-control'}}
														<label for="regular2"> vCPU</label>
													</div>
													<div class="form-group floating-label">
														{{ form.RAM | add_class:'form-control' }}
														<label for="regular2">RAM(in GB)</label>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<div class="form-group floating-label">
																{{ form.storage| add_class:'form-control' }}
																<label for=" ">Storage(in TB)</label>
															</div>
														</div>

													</div>

                                                     <div class="col-sm-6">
															<div class="form-group floating-label">
																{{ form.dr| add_class:'form-control' }}
																<label for=" ">DR</label>
															</div>
                                                    </div>

                                                    <div class="col-sm-6">
															<div class="form-group floating-label">
																{{ form.os| add_class:'form-control' }}
																<label for=" ">OS</label>
															</div>
                                                    </div>

                                                    <div class="col-sm-6">
															<div class="form-group floating-label">
																{{ form.db| add_class:'form-control' }}
																<label for=" ">DB</label>
															</div>
                                                    </div>
												</div>

                                                <div class="col-md-12">
													<hr>
													<label class="radio-inline radio-styled col-sm-2">
														<b>Order Status :</b>
													</label>
													<div class="col-md-10">

                                                        {% for radio in form.order_status %}
                                                            <label class="radio-inline radio-styled">
                                                                {{ radio }}
                                                            </label>
                                                        {% endfor %}

													</div>
												</div>


                                                <div class="col-md-12">
                                                	<div class="col-sm-6">
															<div class="form-group floating-label">
                                                                <input class="form-control" id="id_amount" name="amount" required="" type="number">


                                                                <label for="regular2">Amount</label>
															</div>
                                                            <div>

                                                                <input type="button" class="btn" value="Generate" onclick= "generateAmount();">
                                                            </div>
														</div>

                                                </div>

												<div class="col-md-12">
													<hr>
							 						<div class="card-actionbar-row">
														<input type="submit" class="btn btn-flat btn-primary ink-reaction" value="SUBMIT">
													</div>
												</div>
											</div>
										</form>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END FORM - TIME ON SITE -->

						</div><!--end .row -->
					</div><!--end .section-body -->




				</section>


{% endblock %}